{% extends 'travelapp/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="media" style="margin-top: 75px;">
  <div class="media-left">
    <img src="{% static "img/pepeHelp.png" %}" class="media-object" style="height: 250px;">
  </div>
  <div class="media-body">
    <h1>Steps:</h1>
    <ol style="font-size: 18px;">
      <li>Choose your origin city</li>
      <li>Think about your destinations and add it</li>
      <li>Choose a criteria to calculate your best combination</li>
      <li>Finally, choose your departure date</li>
      <li>Flight!</li>
    </ol>
    <p style="font-size: 18px;">If you need some help to choose your destinations, look at <b>hot destinations</b> table</p>
  </div>
</div>
{% endblock %}
